*{margin: 0;
padding: 0;
box-sizing: border-box;
}


.hero{
    background-image: url("images/My.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: yellowgreen;
}

.project{
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}

.project-item{
    float: left;
    height: 200px;
    width: 32.5%;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer{
    height: 150px;
    background-color: rgb(18, 16, 16);
    color: white;
    margin-top: 5px;
}

.footer-item{
    float: left;
    width: 33%;
}

.link{
    text-decoration: none;
    color: beige;
    display: block;
    margin-top: 3px;
}


/* CSS for Device responsive */

@media screen and (max-width: 1300px){

    .hero{
        color: white;
    }
}

 @media screen and (max-width: 1200px){
    .hero{
        height: 250px;
    }
    } 

@media screen and (max-width: 1150px){
    .hero{
        height: 200px;
    }

}

@media screen and (max-width:   1200px){
    .project-item{
        width: 32%;
        
    }
}

@media screen and (max-width: 749px){
.project-item{
 width: 31%;   
}

}

@media screen and (max-width: 700px){
    .project-item{
        width: 48.4%;
    }
}

@media screen and (max-width: 625px){
    .project-item{
        width: 48.2%;
    }
}

@media screen and (max-width: 556px){
    .project-item{
        width: 98%;
    }
}

@media screen and (max-width: 691px){
    .footer-mid{

        padding-left: 40px;
    }
}

@media screen and (max-width: 376px){
    .footer-item{ width: 100%;
    margin-bottom: 10px;
    padding-left: 85px;
}
}
